:root {
  --primary-Blue1: #ffffff;
  --primary-Blue2: #e6f5ff;
  --primary-Blue3: #ccebff;
  --primary-Blue4: #b3e2ff;
  --primary-Blue5: #9ad8fe;
  --primary-Blue6: #80cefe;
  --primary-Blue7: #67c4fe;
  --primary-Blue8: #4dbafe;
  --primary-Blue9: #34b1fe;
  --primary-Blue10: #1ba7fe;
  --primary-Blue11: #019dfe;
  --primary-Blue12: #018de4;
  --primary-Blue13: #017ecb;
  --primary-Blue14: #016eb2;
  --primary-Blue15: #016bac;
  --primary-Blue16: #015e98;
  --primary-Blue17: #014e7f;
  --primary-Blue18: #013f65;
  --primary-Blue19: #002f4c;
  --primary-Blue20: #001f33;
  --primary-Blue21: #001019;
  --primary-Blue22: #000000;

  --color-slate-200: oklch(92.9% 0.013 255.508);
  --color-slate-300: oklch(86.9% 0.022 252.894);
  --color-slate-400: oklch(70.4% 0.04 256.788);
  --color-slate-500: oklch(55.4% 0.046 257.417);
  --color-slate-600: oklch(44.6% 0.043 257.281);
  --color-slate-700: oklch(37.2% 0.044 257.287);
  --color-slate-800: oklch(27.9% 0.041 260.031);
  --color-slate-900: oklch(20.8% 0.042 265.755);
  --color-slate-950: oklch(12.9% 0.042 264.695);
  --bg: #f8fafc;
  --bg-light: #f8f9fa;
  --color-blue-1: #0070e5;
  --color-blue-2: #67c4fe;
}
body {
  margin: 0;
  padding: 0;
  font-family: RobotoLight, Helvetica, Arial, Sans-serif;
  font-size: 1.7rem;
  line-height: 155%;
  color: #444444;
  background: #ffffff;
  -webkit-tap-highlight-color: transparent;
}
section {
  padding: 0 10%;
}
/*END OF GENERAL CUSTOMIZATIONS*/
header {
  width: 100%;
}
header section {
  padding: 10px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header:after {
  display: block;
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  background: linear-gradient(
    90deg,
    #e3003a 0%,
    #643688 21%,
    #14387f 41%,
    #0070e5 64%,
    #76b82a 84%,
    #fcbe00 100%
  );
  z-index: 20;
  box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.5);
  mix-blend-mode: multiply;
}
.logo {
  display: flex;
}
#menuIcon {
  display: block;
}
#menuIcon:last-child {
  position: relative;
  width: 32px;
  height: 32px;
}
#menuIcon:last-child:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 11px;
  margin: 6px 0 0 3px;
  border-top: solid 2px #000000;
  border-bottom: solid 2px #000000;
  transition:
    all 0.3s linear,
    border-color 0.3s 0.3s linear;
  box-sizing: border-box;
}
#menuIcon:last-child:after {
  content: "";
  position: absolute;
  width: 26px;
  height: 20px;
  margin: 6px 0 0 3px;
  border-bottom: solid 2px #000000;
  transition: all 0.3s linear;
  box-sizing: border-box;
}
.navegation {
  display: none;
}
.navegation nav a {
  text-decoration: none;
  color: var(--color-blue-1);
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-left: 10px;
}
@media only screen and (min-width: 800px) {
  #menuIcon {
    display: none;
  }
  .navegation {
    display: block;
  }
}
/*BANNER COSTOMIZATION*/
.section-banner {
  padding: 10%;
}
.section-banner h1 {
  background: linear-gradient(
    90deg,
    #e3003a 0%,
    #643688 21%,
    #14387f 41%,
    #0070e5 64%,
    #76b82a 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  line-height: normal !important;
}
/*SUBJECT AREAS CUSTOM*/
.section-subject-areas {
  background-color: var(--bg);
  padding: 5% 10%;
}
.section-subject-areas .section-subject-areas-set .subject-areas-itens {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-subject-areas .section-subject-areas-set .subject-areas-itens a {
  height: 100px;
  width: 300px;
  border: 1px solid var(--color-slate-200);
  border-radius: 10px;
  display: flex;
  text-decoration:none;
  padding: 20px 12px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.section-subject-areas .section-subject-areas-set .subject-areas-itens a img{
  max-width: 45px;
  margin-right: 10px;
}
.section-subject-areas .section-subject-areas-set .subject-areas-itens a div {
  color: initial;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*BANNER2 COSTOMIZATION*/
.section-banner2 {
  padding: 0;
  position: relative;
  display: flex;
  box-sizing: border-box;
  object-fit: cover;
}
.banner2-cover {
  background: linear-gradient(
    45deg,
    rgb(22, 0, 0),
    rgba(22, 0, 0, 0.918),
    rgba(22, 0, 0, 0.295),
    rgba(22, 0, 0, 0)
  );
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 10%;
  box-sizing: border-box;
  object-fit: cover;
}
.banner2-cover h1 {
  color: var(--primary-Blue1);
}
.section-banner2 h1 span {
  background: linear-gradient(
    135deg,
    rgba(194, 8, 49, 1) 5%,
    rgba(227, 0, 58, 1) 50%,
    rgba(194, 8, 49, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner2-cover p {
  color: var(--color-slate-200);
  font-weight: 300;
}
.section-banner2 .banner2-img {
  object-fit: cover;
  width: 100%;
  display: flex;
  background-repeat: no-repeat;
  background-position: right;
  justify-content: right;
  height: 100vh;
}
.section-banner2 .banner2-img img {
  box-sizing: border-box;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.seach-set {
  max-width: 350px;
}
.seach-set .seach-input {
  background-color: #fff;
  box-shadow:
    0 2px 20px 0 rgba(68, 68, 68, 0.041),
    0 8px 10px 0 rgba(0, 0, 0, 0.041),
    0 4px 8px -2px rgba(0, 0, 0, 0.027);
  border-radius: 10px;
  height: 45px;

  display: flex;
  padding-left: 20px;
  justify-content: space-between;
  border: 1px solid #e3e6ee;
  box-sizing: border-box;
}
.seach-set .seach-input input {
  height: 100%;
  border: none;
  outline: none;
  width: calc(100% - 110px);
  color: var(--color-slate-900);
  font-size: 1rem;
}
.seach-set .seach-input .btn-search {
  background: linear-gradient(
    135deg,
    rgba(194, 8, 49, 1) 5%,
    rgba(227, 0, 58, 1) 50%,
    rgba(194, 8, 49, 1) 100%
  );
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 3px solid #fff;
  color: #fff;
  box-sizing: border-box;
}
.seach-set .seach-data {
  background-color: #ffffff1c;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow:
    0 2px 20px 0 rgba(68, 68, 68, 0.041),
    0 8px 10px 0 rgba(0, 0, 0, 0.041),
    0 4px 8px -2px rgba(0, 0, 0, 0.027);
}
.seach-set .seach-data ul li {
  font-size: 1rem;
  color: #fff;
  list-style: none;
}

/*BANNER RELATORIO CUSTOMIZATION*/
.section-relatorio {
  background: linear-gradient(
    135deg,
    rgba(194, 8, 49, 1) 5%,
    rgba(227, 0, 58, 1) 50%,
    rgba(194, 8, 49, 1) 100%
  );
  padding-bottom: 4%;
  padding-top: 5%;
}
.relatorio-set {
  color: #fff;
}
.each-relatorio {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 40px;
}
.each-relatorio span {
  text-transform: capitalize;
  font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
}
/* SECTION CURSOS VIDEO*/
.section-video {
  padding: 10%;
}
.section-video .section-video-set {
  display: flex;
  flex-direction: column;
}
.section-video .section-tittle-set h1 {
  background: linear-gradient(
    90deg,
    #e3003a 0%,
    #643688 21%,
    #14387f 41%,
    #0070e5 64%,
    #76b82a 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  line-height: normal !important;
}
.section-video .section-video-set .video-container {
  background: #fff;
  border: 1px solid #e3e6ee;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(22, 41, 108, 0.08);
  width: 100%;
  margin: 10px;
  height: 200px !important;
}
.section-video .section-video-set .video-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

@media only screen and (min-width: 800px) {
  .section-video .section-video-set {
    flex-direction: row;
  }
  .section-video .section-video-set .video-container {
    height: 320px;
  }
}
/* SECTION CURSOS CUSTOMIZATION*/
.section-cursos {
  background-color: var(--bg-light);
  padding-top: 5%;
}
.cursos-set {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
}
.cursos-set .each-curso ul {
  list-style: decimal;
}
.cursos-set .each-curso ul li::marker {
  color: var(--color-blue-1);
  font-size: 12px;
}
.cursos-set .each-curso h3 {
  color: #643688 !important;
  font-weight: 300;
  font-size: 1.4rem;
  margin-left: -10px;
  margin-bottom: 0;
}
.cursos-set .each-curso {
  font-size: 1rem;
  margin: 0 10px;
  width: 100%;
  /*border: 1px solid var(--color-slate-200);*/
  background-color: #fff;
  border-radius: 7px;
  margin-bottom: 20px;
  box-shadow:
    0 2px 20px 0 rgba(68, 68, 68, 0.041),
    0 8px 10px 0 rgba(0, 0, 0, 0.041),
    0 4px 8px -2px rgba(0, 0, 0, 0.027);
  position: relative;
}
.cursos-set .each-curso div {
  border-top: 1px solid var(--color-slate-200);
  background-color: var(--bg);
  position: absolute;

  bottom: 0;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}
.cursos-set .each-curso div span {
  color: var(--color-blue-1);
  font-weight: 300;
  font-size: 1.1rem;
  font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 40px;
}
@media only screen and (min-width: 800px) {
  .cursos-set {
    flex-direction: row;
  }
}
